In [1]:
def calculateChange(coins, price):
    print(coins, price)
    changes=[500, 200, 100, 50, 20, 10]
    coinsToReturn=[]
    myChange=coins-price
    for i in changes:
        if myChange>=i:
            myChange-=i
            coinsToReturn.append(i)
    return coinsToReturn
def vendingMachine(num,coins):
    items=[
    {'num':1,'price':100,'name':'Orange juice'}, 
    {'num':2,'price':200,'name':'Soda'},
    {'num':3,'price':150,'name':'Chocolate snack'},
    {'num':4,'price':250,'name':'Cookies'},
    {'num':5,'price':180,'name':'Gummy bears'},
    {'num':6,'price':500,'name':'Condoms'},
    {'num':7,'price':120,'name':'Crackers'},
    {'num':8,'price':220,'name':'Potato chips'},
    {'num':9,'price':80,'name':'Small snack'}
]
    matches=[item for item in items if item['num']==num]
    if len(matches)==0:
        return 
    if coins<matches[0]['price']:
        return 'xxx'
    change = calculateChange(coins, matches[0]['price'])


    return [matches[0]['name'], change]

In [2]:
print(vendingMachine(10, 200))
print(vendingMachine(9, 200))
print(vendingMachine(8, 200))
print(vendingMachine(8, 220))

None
200 80
['Small snack', [100, 20]]
xxx
220 220
['Potato chips', []]

In [3]:
data=[
    [100,'Orange juice'],
    [200,'Soda'],
    [150,'Chocolate snack'],
    [250,'Cookies'],
    [180,'Gummy bears'],
    [500,'Condoms'],
    [120,'Crackers'],
    [220,'Potato chips'],
    [80,'Small snack']
]

In [4]:
import pandas as pd 
df=pd.DataFrame(data,columns=['Price','Name'])
df

   Price             Name
0    100     Orange juice
1    200             Soda
2    150  Chocolate snack
3    250          Cookies
4    180      Gummy bears
5    500          Condoms
6    120         Crackers
7    220     Potato chips
8     80      Small snack

In [5]:
def myChoice(mymoney,item):
    yield from (mymoney,item)

my=list(myChoice(1200,5))
my

[1200, 5]

In [6]:
myList=[]
for i,r in df.iterrows():
    if my[1]==i:
        myList.append(r[1])
        myList.append(r[0])
        myList.append(my[0]-r[0])
myList

['Condoms', 500, 700]

In [7]:
Change=[500,200,100,50,20,10]

mychange=[]
p=myList[2]
for i in Change:
    if p>=i:
        p-=i 
        mychange.append(i)    
print('product is {0}, change is {1}'.format(myList[0],mychange))

product is Condoms, change is [500, 200]